
html{
    scroll-behavior:smooth;
    background-color:#1b1b1b;
}

main{
    font-family: 'Comfortaa', cursive;
    color:#f8f8f8;
}

footer{
    position: fixed;
    font-family: 'Gidole', cursive;
    color:#F8F8F8;
    left:0;
    bottom:0;
    width:100%;
    background-color: #141414;
}