@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-family:"Roboto Mono";
    background-color:#1b1b1b;
    color:#f8f8f8;
}

footer{
  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #181818;
   color: white;
   text-align: left;
}