@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --tpdc-hover-width: 0;
}

html {
    font-family:"Roboto Mono";
    background-color:#1b1b1b;
    color:#f8f8f8;
}

#bio {
    overflow:auto;
    width:700px;
    padding:15%;
    font-size:large;
    margin:0 auto;
}

/*tpdc block*/
* {
        transition: none 250ms ease;
      }
      
      #tpdc {
          color: red;
          display: inline-block;
          position: relative;
          transition-property: all;
      }
      
      #tpdc::before {
          background-color: #07a6ea;
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          transform: scaleX(0);
          transform-origin: left;
          transition: inherit;
          transition-property: all;
          width: 100%;
          z-index: -1;
      }
      
      #tpdc:hover {
          color: #141414;
      }
      
      #tpdc:hover::before {
          transform: scaleX(1);
      }

      /*htb block*/
      * {
        transition: none 250ms ease;
      }
      
      
      #htb {
          color: red;
          display: inline-block;
          position: relative;
          transition-property: all;
      }
      
      #htb::before {
          background-color: #8fcc00;
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          transform: scaleX(0);
          transform-origin: left;
          transition: inherit;
          transition-property: all;
          width: 100%;
          z-index: -1;
      }
      
      #htb:hover {
          color: #141414;
      }
      
      #htb:hover::before {
          transform: scaleX(1);
      }


      /*otw block*/
      * {
        transition: none 250ms ease;
      }
      
      #otw {
          color: red;
          display: inline-block;
          position: relative;
          transition-property: all;
      }
      
      #otw::before {
          background-color: #ff1c1c;
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          transform: scaleX(0);
          transform-origin: left;
          transition: inherit;
          transition-property: all;
          width: 100%;
          z-index: -1;
      }
      
      #otw:hover {
          color: #f4f5f0 ;
      }
      
      #otw:hover::before {
          transform: scaleX(1);
      }

#scroll-prompt,#faceplate{
  display:flex;
  justify-content:center;
}

#otw,#htb,#tpdc {
    text-decoration:none;
    color:#f8f8f8;
}


#otw {
  color:#ff1c1c;
}

#htb{
  color:#8fcc00;
}

#tpdc{
  color:#07a6ea;
  display: inline-block;
}


#banner{
  height:100vh;
  width:350px;
  margin:0 auto;
}

footer{
  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #181818;
   color: white;
   text-align: center;
}

#container{
  display: flex;
  justify-content:center;
}